.header{
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: rgb(49, 252, 184);
    text-align: right;
}

.quizQuestion{
    display: none;
}

#quizEnd{
    display: none;
}

#scores{
    display: none;
}